// Colors
$white: #ffffff;
$black: #343a40;
$grey: #989898;

// Quick Font Sizes
$font-size-xxl: 5rem;
$font-size-xl: 3.1rem;
$font-size-l: 2.8rem;
$font-size-m: 2rem;
$font-size-s: 1.6rem;
$font-size-xs: 1.2rem;
$font-size-xxs: 1rem;
$font-size-xxxs: 0.8rem;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 5rem;
$xxxl-size: 8rem;
$medium-desktop: 1365px;
$mobile-breakpoint: 45rem;
$tablet-breakpoint: 64rem;
$small-desktop: 104rem;

$mobile-portrait: 26rem;
$maxWidth: 80%;
$navbarHeight: 215px;
$footerHeight: 122px;

@mixin box-shadow {
  -webkit-box-shadow: 0px 3px 6px #00000029;
  -moz-box-shadow: 0px 3px 6px #00000029;
  box-shadow: 0px 3px 6px #00000029;
}

@mixin box-shadow-top {
  -webkit-box-shadow: 0px -3px 36px #afafaf29;
  -moz-box-shadow: 0px -3px 36px #afafaf29;
  box-shadow: 0px -3px 36px #afafaf29;
}
